.title {
    cursor: pointer;
}

body{
    padding:0;
    margin:0;
    font-family:Verdana;
    background-image: url("https://img.freepik.com/darmowe-wektory/kupuj-ze-znakiem-ze-jestesmy-otwarci_52683-38687.jpg?w=2000");
    background-repeat: no-repeat;
    background-size: auto;
}

nav{
    width:100%;
    text-align:center;
    background:#333;
}

nav ul{
    height:26px;
}

nav ul li{
    display:inline;
    margin:8px;
    padding:8px;
    color:#fff;
    font-size:16px;
}

nav ul li a{
    padding:12px;
    color:#fff;
}

main{
    padding:8px;
}
